<div class="col-md-9">
	<div class="panel panel-primary">
		<div class="panel-heading">Edit Post</div>
		<%= render 'form' %>
		<span class="pull-right">
			<%= link_to 'Back', blogs_path %>
		</span>
	</div>
</div>
