<head>
	<title>Sponsor</title>

</head>

	<div class="row">
		<div class="container-fluid nopadding">
			<!-- Carousel -->
			<div class="col-md-12 banner nopadding hidden-sm hidden-xs">
				<%= image_tag("bg/river.jpg", class:"img-responsive") %>
			</div>

			<!-- About The Watershed Council -->
			<div class="col-md-12 bigmgn">
				<h1 class="text-center thicker">PROTECT THE WATERSHED</h1>
				<h5 class=" text-center text-muted">Your support helps us develop and support initiatives designed to create a thriving watershed</h5 class="text-muted">
			</div>
			<div class="col-md-12">
				<div class="center-icon center-block">
					<div class="img-square">
						<%= image_tag("break-element.jpg", class:"img-responsive") %>
					</div>
				</div>
			</div>
			<div class="col-md-12 padding">
				<h2 class="thick green text-center">Personal Sponsorships</h1>
				<div class="col-md-2 col-md-offset-1">
					<h3 class="thick text-center">Watershed Member</h3>
					<ul class="sponsor">
						<li>Listed by level on PRWC About/Member section</li>
						<li>1 individual membership</li>
					</ul>
					<h4 class="green text-center">$5.00 Per Month</h4>
					<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
				<div class="col-md-2">
					<h3 class="thick text-center">Watershed Citizen</h3>
					<ul class="sponsor">
						<li>Listed by level on PRWC About/Member section</li>
						<li>1 individual membership</li>
					</ul>
					<h4 class="green text-center">$10.00 Per Month</h4>
					<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
				<div class="col-md-2">
					<h3 class="thick text-center">Watershed Advocate</h3>
					<ul class="sponsor">
						<li>Listed by level on PRWC About/Member section</li>
						<li>1 individual membership</li>
						<li>1 PRWC T-Shirts</li>
					</ul>
					<h4 class="green text-center">$15.00 Per Month</h4>
					<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
				<div class="col-md-2">
					<h3 class="thick text-center">Watershed Supporters</h3>
					<ul class="sponsor">
						<li>Listed by level on PRWC About/Member section</li>
						<li>2 individual membership</li>
						<li>2 PRWC T-Shirts</li>
					</ul>
					<h4 class="green text-center">$25.00 Per Month</h4>
					<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
				<div class="col-md-2">
					<h3 class="thick text-center">Watershed Stewards</h3>
					<ul class="sponsor">
						<li>Listed by level on PRWC About/Member section</li>
						<li>2 individual membership</li>
						<li>2 PRWC T-Shirts</li>
					</ul>
					<h4 class="green text-center">$35.00 Per Month</h4>
					<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-12 mgntop padding">
			<h2 class="thick green text-center mgntop">Corporate Sponsorships</h1>
			<div class="col-md-2 col-md-offset-1">
				<h3 class="thick text-center">Watershed Champion</h3>
				<ul class="sponsor">
					<li>Company Logo in our About/Partners section</li>
					<li>Named Sponsor of a major PRWC event</li>
					<li>Listing by level in PRWC State of the Watershed report</li>
					<li>10 individual memberships for employees</li>
					<li>10 PRWC T-Shirts</li>
				</ul>
				<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
			</div>
			<div class="col-md-2">
				<h3 class="thick text-center">Watershed Defender</h3>
				<ul class="sponsor">
					<li>Company Logo in our About/Partners section</li>
					<li>Named Sponsor of a major PRWC event</li>
					<li>Listing by level in PRWC State of the Watershed report</li>
					<li>5 individual memberships for employees</li>
					<li>5 PRWC T-Shirts</li>
				</ul>
				<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
			</div>
			<div class="col-md-2">
				<h3 class="thick text-center">Watershed Protector</h3>
				<ul class="sponsor">
					<li>Company Logo in our About/Partners section</li>
					<li>Named Sponsor of a PRWC event</li>
					<li>Listing by level in PRWC State of the Watershed report</li>
					<li>10 individual memberships for employees</li>
					<li>10 PRWC T-Shirts</li>
				</ul>
				<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
			</div>
			<div class="col-md-2">
				<h3 class="thick text-center">Watershed Guardian</h3>
				<ul class="sponsor">
					<li>Company Logo in our About/Partners section</li>
					<li>Named Sponsor of a major PRWC event</li>
					<li>Listing by level in PRWC State of the Watershed report</li>
					<li>10 individual memberships for employees</li>
					<li>10 PRWC T-Shirts</li>
				</ul>
				<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
			</div>
			<div class="col-md-2">
				<h3 class="thick text-center">Watershed Keeper</h3>
				<ul class="sponsor">
					<li>Company Logo in our About/Partners section</li>
					<li>Named Sponsor of a major PRWC event</li>
					<li>Listing by level in PRWC State of the Watershed report</li>
					<li>10 individual memberships for employees</li>
					<li>10 PRWC T-Shirts</li>
				</ul>
				<div class="col-md-8 col-md-offset-2">
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="7L2DBWR6PDZ6Y">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
			</div>
			</div>
			<div class="col-md-12">
				<div class="center-icon center-block">
					<div class="img-square">
						<%= image_tag("break-element.jpg", class:"img-responsive") %>
					</div>
				</div>
			</div>
		</div>
	</div>