<%= include_gon %>
<div class="back-banner">
    <%= link_to home_gallery_path, class:"back-link" do %>
    <i class="fa fa-arrow-left"></i>
    Back
    <% end %>
</div>
<div class="row nopadding">
    <div class="col-md-12">
        <div id="freewall" class="free-wall"></div>
    </div>
</div>
