<div class="col-md-9">
   <div class="panel panel-primary">
      <div class="panel-heading">Edit Event</div>
      <div class="panel-body">
         <%= render 'form' %>
      </div>
      <span class="pull-right">
         <%= link_to 'Back', events_path %>
      </span>
   </div>
</div>
