<div class="col-md-9">
   <div class="panel panel-primary">
      <div class="panel-heading">New Project</div>
      <%= render 'form' %>
      <span class="pull-right">
         <%= link_to 'Back', welcome_index_path, class:"margin" %>
      </span>
   </div>
</div>
