<div class="nested-fields margin-bottom-20">
    <hr />
    <fieldset>
        <div class="col-md-10">
        <div class="margin-bottom-20 field">
            <%= f.text_field :name, placeholder:"Enter Agenda", label: "Agenda/Minute Description" %>
        </div>
    </div>
        <div class="col-md-2">
          <%= f.time_select :time,  {ampm: true}, hide_label: true %>
        </div>
    </fieldset>
</div>
