<div class="nested-fields margin-bottom-20">
    <hr />
    <fieldset>
        <div class="col-md-10">
        <div class="input-group margin-bottom-20 field">
            <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
            <%= f.text_field :name, hide_label:true, placeholder:"Enter Agenda" %>
        </div>
    </div>
        <div class="col-md-2">
          <%= f.time_select :time, hide_label: true %>
        </div>
    </fieldset>
</div>
