<div class="col-md-9">
   <div class="panel panel-primary">
      <div class="panel-heading">New Meeting & Agenda</div>
      <div class="panel-body">

            <%= render 'form' %>
            <%= link_to 'Cancel', minutes_path, class:"pull-left" %>

        </div>
    </div>
</div>
