<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="pull-left">Newsletter List</h4>
            <%= link_to new_newsletter_list_path, class:"btn btn-info pull-right" do %><i class="fa fa-plus"></i> New Subscriber<% end %>
        </div>
        <div class="panel-body">
            <%= render(partial:'newsletter_lists/table', locals:{ newsletter_lists: @newsletter_lists })%>
        </div>
    </div>
</div>
