<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="pull-left">New Newsletter User</h4>
        </div>
        <div class="panel-body">
            <%= render 'form' %>
        </div>
        <%= link_to 'Cancel', newsletter_lists_path, class:"pull-right" %>
    </div>
</div>
