// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.center-icon {
	width: 75px;
	margin-top: 6px;
	margin-bottom: 30px;
	vertical-align: middle;
}
.event {
	color: #ffffff;
	margin-top: 0 !important;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color: #7aa13f;
	border-bottom: 1px solid darkgrey;
	border-top: 1px solid #2c3e50;
}
.ebutton {
	border: 1px solid white;
	font-size: 75%;
	background-color: #7aa13f;
	padding: 7px;
	margin-top: 0 !important;
	white-space: nowrap;
	color: white;
}
.ebutton:hover {
	border: 1px solid white;
	color: lightgrey;
	font-size: 75%;
	background-color: #648c28;
	padding: 7px;
	margin: 0 !important;
	white-space: nowrap;
	text-decoration: none;

}
.blog {
   padding: 0 !important;
   margin-bottom:20px;
   border-radius: 0 !important;
   min-height: 275px;
   max-height: 275px;
   overflow: hidden;
}
.blog-link:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.blog-link:hover:after {
    opacity: 1;
}
.blog-title-lg {
	margin-top: 70px;
}
.blog-title-sm {
	color: white;
	background-color: black;
}
.membership {
	background: url('bg/membership.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    max-height: 750px;
    min-height: 100%;
    padding-top: 35px;
    overflow: hidden;
}
.plans {
	padding: 10px;
	margin-top: 25px !important;
	margin-bottom: 20px !important;
}
#plan_link {
	font-weight: lighter;
	color: #7aa13f;
}
#contact {
	background-color: #555555;
	height: 420px;
}
.contact-form {
	margin-top: 5%;
}
#gmap {
    iframe{
    height: 420px !important;
    }
    overflow: hidden !important;
}
.embed-responsive-16by9{
	overflow: hidden !important;
	height: 420px !important;
	padding: 0 !important;
}
.embed-responsive-4by6{
	overflow: hidden !important;
	height: 500px !important;
	padding: 0 !important;
}
.banner {
	width: 100%;
	max-height: 1000px !important;
	overflow-x: hidden;
	overflow-y: hidden;
}
.teamBox {
	height: 400px;
	width: 100%;
	margin-top: 30px;
	background-color: #ebebeb;
	border-bottom: 2px solid lightgrey;
}
.description {
	margin-top: 10px;
	padding: 5px;
}
.sponsor {
	min-height: 150px;
}

/*Blog and Posts*/
.igPic {
	height: 300px;
	vertical-align: middle;
    text-align: center;
    display: inline-block;
}
#instagram {
	height: 480px;
    overflow-y: hidden;
}
.row-fluid{
    white-space: nowrap;
}
.box{
    overflow-x:auto;
}
.ig {
	color: #ffffff;
	background-color: #3c3c3c;
	margin-top: 0 !important;
	padding-top: 3px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	height: 100%;
}
.igbutton {
	border: 1px solid white;
	background-color: none;
	margin-top: 0 !important;
	white-space: nowrap;
	color: white;
}
.igbutton:hover {
	border: 1px solid white;
	background-color: none;
	margin: 0 !important;
	white-space: nowrap;
	color: lightgrey;
	text-decoration: none;
}

/*Blog Post*/
.post-banner {
	background: url('bg/reflection-lake.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 500px !important;
	text-align: center;
	color: #ecf0f1;
	padding: 0;
	margin: 0 !important;
}
.post {
	min-height: 650px !important;
}
.post-pic {
	width: 100%
}

/* Gallery layout*/
.free-wall {
	margin: 15px;
}
.brick img {
	margin: 0;
	display: block;
}
.full-width {
	width: 100%;
}
.gallery { 
	cursor: pointer;
}