@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
@media (min-width : 200px) {
	.sponsor-info {
		position:absolute;
		top:10px;
		left:0px;
		text-align:center;
	}
}

@media (min-width : 768px) {
	#menu-margin {
		margin-left: 150px;
	}
	.navbar-nav {
		margin-left: 120px;
	}

	.sponsor-info {
		position:absolute;
		top:50px;
		left:0px;
		text-align:center;
	}
}

@media (min-width : 1580px) {
	.sponsor-info {
		position:absolute;
		top:120px;
		left:0px;
		text-align:center;
	}
}

html {
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  	Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
	padding-bottom: 60px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.padding-top-80 {
	padding-top: 80px;
}

header.container {
	position: relative;
	min-height: 70px;
}

#myNavbar {
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 20px;
}
.navbar-toggle {
	background-color: #7aa13f;
}
.icon-bar {
	background-color: white;
}
.logo {
	width: 18%;
	padding: 8px;
	position: absolute;
	left: 0;
	top: 0;
    z-index: 99;
    background-color: white;
}
.navbar-brand {
	color: #555 !important;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 120px;
	height: 90px;
}
.navbar-collapse {
	background-color: white !important;
}
.navbar-nav > li > a:hover {
	color: white;
	background-color: #7aa13f !important;
}
.navbar-nav > li > a {
	color: #555;
}
.navbar-nav > .active > a {
	color: white;
	background-color: #7aa13f !important;
}

.thick {
  	font-weight: 600;
  }

.thicker {
  	font-weight: 900;
  }

.green {
  	color: #7aa13f;
  }

.text {
	font-size: 16px;
	color: darkgrey;
	font-weight: 700;
}

.inline {
	display: inline-block;
}

.white-font {
	color: white;
}

.margin {
	margin-bottom: 50px;
}

.bigmgn {
	margin-top: 100px;
}

.biggermgn {
	margin-top: 400px;
	font-size: 40px;
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	vertical-align: bottom;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   border-radius: 0 !important;
}

.padding {
	padding: 10px;
}

.border {
	border: 1px solid lightgrey;
}

.back-to-top i {
  	font-size: 60px;
  	margin-left: -5px;
  	margin-top: -2px;
}

.button {
	cursor: pointer;
	cursor: hand;
}

.back-to-top {
	background: none;
	margin: 0 !important;
	position: fixed;
	bottom: 80px;
	right: 15px;
	width: 70px;
	height: 70px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color: grey;
	background-color: none;
	opacity: .3;
	border: 1 solid white;
}

.wrapper {
	padding-bottom: 80px;
	margin-top: 40px;
}
